:root[lang="en"] {
  // NAVIGATION
  --intakes: "dashboard";
  --menu: "menu";
  --settings: "settings";
  --health: "strategy";

  // PREP PAGE (INTRO)
  --prep-intro: "nutrition-app created by one person for free use";
  --prep-a: "What we provide";
  --prep-a1: "intuitive interface";
  --prep-a2: "easy start";
  --prep-a3: "wide range of features";
  --prep-a4: "start with friends";
  --prep-a5: "suitable for most";
  --prep-b: "What you can do";
  --prep-b1: "set your own goals";
  --prep-b2: "adjust your diet";
  --prep-b3: "track friends' progress";
  --prep-b4: "app customization";

  // HEALTH PAGE
  // controls
  --forward: "forward";
  --finish: "finish";
  --back: "back";
  --signup: "signup";
  --login: "log in";
  --logout: "log out";
  // titles
  --health-prep: "Welcome";
  --general-data: "Account data";
  --config-data: "App settings";
  --body-data: "Body info";
  --current-data: "Current data";
  --goal-data: "Goal data";
  --language: "Language";
  --theme: "Theme";
  --gender: "Gender";
  --monochrome: "Colors";
  // settings
  --male: "male";
  --female: "female";
  --light: "light";
  --dark: "dark";
  --en: "eng";
  --ru: "rus";
  --mono: "mono";
  --multi: "multi";
  // helps
  --have-login: "Already have an account? Log in!";
  --back-to-register: "Back to registration";
  --choose-activity: "choose activity level";
}

:root[lang="ru"] {
  // NAVIGATION
  --intakes: "дашборд";
  --menu: "меню";
  --settings: "параметры";
  --health: "стратегия";

  // PREP PAGE (INTRO)
  --prep-intro: "nutrition-app создан одним человеком для свободного пользования";
  --prep-a: "Мы предоставляем";
  --prep-a1: "простой интерфейс";
  --prep-a2: "быстрый старт";
  --prep-a3: "большой функционал";
  --prep-a4: "совместная активность";
  --prep-a5: "универсальность использования";
  --prep-b: "Что можно делать";
  --prep-b1: "ставить свои цели";
  --prep-b2: "регулировать диету";
  --prep-b3: "следить за прогрессом друзей";
  --prep-b4: "кастомизировать приложение";

  // HEALTH PAGE
  // controls
  --forward: "далее";
  --finish: "завершить";
  --back: "назад";
  --signup: "регистрация";
  --login: "вход";
  --logout: "выйти";
  // titles
  --health-prep: "Здравствуйте";
  --general-data: "Данные аккаунта";
  --config-data: "Настройки приложения";
  --body-data: "Параметры тела";
  --current-data: "Текущие показатели";
  --goal-data: "Ваши цели";
  --language: "Язык";
  --theme: "Тема";
  --gender: "Пол";
  --monochrome: "Цветовая схема";
  // settings
  --male: "мужской";
  --female: "женский";
  --light: "светлая";
  --dark: "темная";
  --en: "англ";
  --ru: "рус";
  --mono: "моно";
  --multi: "цветная";
  // helps
  --have-login: "Уже есть аккаунт? Войти!";
  --back-to-register: "Назад к регистрации";
  --choose-activity: "выберите уровень активности";
}
