:root[lang="en"] {
  // NAVIGATION
  --dashboard: "dashboard";
  --menu: "menu";
  --account: "account";
  --reshape: "reshape";

  // SIGN UP / SIGN IN
  // controls
  --forward: "forward";
  --finish: "finish";
  --back: "back";
  --signup: "sign up";
  --login: "log in";
  --logout: "log out";
  --login-title: "sign in";
  // titles
  --health-prep: "welcome";
  --general-data: "account";
  --config-data: "settings";
  --body-data: "body info";
  --current-data: "current data";
  --goal-data: "goal data";
  --language: "language";
  --theme: "theme";
  --gender: "gender";
  --monochrome: "colors";
  // settings
  --male: "male";
  --female: "female";
  --light: "light";
  --dark: "dark";
  --en: "eng";
  --ru: "rus";
  --mono: "mono";
  --multi: "multi";
  // helps
  --have-login: "already have an account? log in!";
  --back-to-register: "back to registration";
  --choose-activity: "choose activity level";
  // introduction
  --prep-intro: "nutrition-app created by one person for free use";
  --prep-a: "what we provide";
  --prep-a1: "intuitive interface";
  --prep-a2: "easy start";
  --prep-a3: "wide range of features";
  --prep-a4: "start with friends";
  --prep-a5: "suitable for most";
  --prep-b: "what you can do";
  --prep-b1: "set your own goals";
  --prep-b2: "adjust your diet";
  --prep-b3: "track friends' progress";
  --prep-b4: "app customization";
}

:root[lang="ru"] {
  // NAVIGATION
  --dashboard: "дашборд";
  --menu: "меню";
  --account: "аккаунт";
  --reshape: "стратегия";

  // SIGN UP / SIGN IN
  // controls
  --forward: "далее";
  --finish: "завершить";
  --back: "назад";
  --signup: "регистрация";
  --login: "вход";
  --logout: "выйти";
  --login-title: "вход";
  // titles
  --health-prep: "здравствуйте";
  --general-data: "аккаунт";
  --config-data: "настройки";
  --body-data: "параметры тела";
  --current-data: "текущие показатели";
  --goal-data: "ваши цели";
  --language: "язык";
  --theme: "тема";
  --gender: "пол";
  --monochrome: "цветовая схема";
  // settings
  --male: "мужской";
  --female: "женский";
  --light: "светлая";
  --dark: "темная";
  --en: "англ";
  --ru: "рус";
  --mono: "моно";
  --multi: "цветная";
  // helps
  --have-login: "уже есть аккаунт? войти!";
  --back-to-register: "назад к регистрации";
  --choose-activity: "выберите уровень активности";
  // introduction
  --prep-intro: "nutrition-app создан одним человеком для свободного пользования";
  --prep-a: "мы предоставляем";
  --prep-a1: "простой интерфейс";
  --prep-a2: "быстрый старт";
  --prep-a3: "большой функционал";
  --prep-a4: "совместная активность";
  --prep-a5: "универсальность использования";
  --prep-b: "что можно делать";
  --prep-b1: "ставить свои цели";
  --prep-b2: "регулировать диету";
  --prep-b3: "следить за прогрессом друзей";
  --prep-b4: "кастомизировать приложение";
}
