// STYLES
// font
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
:root { 
  --main-font: "JetBrains Mono", monospace;
  --english: "english";
  --russian: "русский";
  --mandarin: "中文";
  --espaniol: "español";
};
html {
  font-family: var(--main-font);
  color: transparent;
  font-weight: 500;
  background: var(--back-a);
  overflow: hidden;
}
input {
  font-family: var(--main-font);
  color: var(--text-a);
}

// reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
ul, ol {
  list-style: none;
}
#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
