// THEMES
// dark
:root[data-theme="dark"] {
  --back-a: #1a1b1e;
  --back-a-half: #1a1b1e80;
  --back-b: #2a2b30;
  --back-c: #323339;
  --back-d: #3e3f45;
  --text-a: #ffffff;
  --text-b: #e0e0e0;
  --text-c: #9ca3af;
  --text-d: #6b7280;
  --box-shadow: none;
  --liquid-glass-border: #545557;
  --transparent: #00000000;
  --svg-invert: 1;
  --green-switcher: #2baf4a;
  --accent: #d30141;
}
// light
:root[data-theme="light"] {
  --back-a: #f8f8f8;
  --back-a-half: #f8f8f880;
  --back-b: #f8f8f8;
  --back-c: #efefef;
  --back-d: #e0e0e0;
  --text-a: #0a0a0a;
  --text-b: #363636;
  --text-c: #626262;
  --text-d: #8e8e8e;
  --box-shadow: #00000010 0px 4px 12px;
  --liquid-glass-border: #00000010;
  --transparent: #00000000;
  --svg-invert: 0;
  --green-switcher: #2baf4a;
  --accent: #e61352;
}
