:root {
  --white: #ffffff;
  --black: #000000;
}
:root[data-theme="light"] {
  --focus: #a29bfe;
  --html-background: #f0f0f0;
  --main-background: #d8d8d880;
  --sub-background: #f4f4f480;
  --ex-background: #d0d0d080;
  --main-color: #242424;
  --sub-color: #363636;
  --ex-color: #484848;
  --re: #ff6b6b;
  --bl: #88a3eb;
  --pu: #aaa5eb;
  --pi: #fdb4d8;
  --ye: #e9e19b;
  --gr: #70d875;
}
:root[data-theme="dark"] {
  --focus: #9a80e2;
  --html-background: #121212;
  --main-background: #0a0a0a80;
  --sub-background: #1a1a1a80;
  --ex-background: #2a2a2a80;
  --main-color: #f0f0f0;
  --sub-color: #d0d0d0;
  --ex-color: #a0a0a0;
  --re: #ff6b6b;
  --bl: #284cb1;
  --pu: #5f58c7;
  --pi: #cf5d96;
  --ye: #dabf6a;
  --gr: #46994a;
}
