:root[data-newrem="14"] {
  --newrem: 14px;
}
:root[data-newrem="15"] {
  --newrem: 15px;
}
:root[data-newrem="16"] {
  --newrem: 16px;
}
:root[data-newrem="17"] {
  --newrem: 17px;
}
:root[data-newrem="18"] {
  --newrem: 18px;
}
