:root[data-theme="dark"] {
  --html-background: #161616;

  --main-background: #161616;
  --sub-background: #242424;
  --ex-background: #363636;

  --main-color: #f0f0f0;
  --sub-color: #e0e0e0;
  --ex-color: #b0b0b0;

  --box-shadow: none;

  --re: #ff6b6b;
  --pu: #a29bfe;
  --pi: #ff99cc;
  --gr: #43c449;
  --ci: #55efc4;
  --ye: #ffeaa7;
}