:root[data-theme="light"] {
  --html-background: #ffffff;

  --main-background: #ffffff;
  --sub-background: #f0f0f0;
  --ex-background: #d6d6d6;

  --main-color: #242424;
  --sub-color: #363636;
  --ex-color: #484848;

  --box-shadow: rgba(156, 156, 156, 0.2) 0px 0.5rem 1.5rem;

  --re: #ff6b6b;
  --pu: #a29bfe;
  --pi: #ff99cc;
  --gr: #43c449;
  --ci: #55efc4;
  --ye: #ffeaa7;
}
