@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --main-font: "JetBrains Mono", monospace;
  --english: "english";
  --russian: "русский";
  --mandarin: "中文";
  --espaniol: "español";
}
html {
  font-family: var(--main-font);
  background: var(--html-background);
  color: var(--html-color);
  font-weight: 500;
  overflow: hidden;
}
input {
  color: var(--html-color);
  font-family: var(--main-font);
}
#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.v {
  height: 100%;
  // padding: calc(2.5 * var(--mm)) var(--mm) var(--mm);
  padding: calc(10.5 * var(--mm)) var(--mm) var(--mm);
  display: flex;
  flex-direction: column;
  gap: var(--mm);
  overflow-y: scroll;
}
.v::-webkit-scrollbar {
  display: none;
}
