:root[data-phone-color="black"] {
  --frame: #6c6c6d;
}
:root[data-phone-color="white"] {
  --frame: #f1f2ed;
}
:root[data-phone-color="green"] {
  --frame: #c4cfa7;
}
:root[data-phone-color="blue"] {
  --frame: #b5c6de;
}
:root[data-phone-color="purple"] {
  --frame: #ebe2f1;
}
