// light
:root[data-theme="light"] {
  --html-background: #ffffff;
  --signup-main-background: #ffffff;
  --signup-sub-background: #ffffff;
  --signup-main-text: #242424;
  --signup-sub-text: #363636;
  --signup-main-border: #e4e4e4;
  --signup-sub-border: #e4e4e4;
  --swh-background: #64c24c;
  --box-shadow: rgba(156, 156, 156, 0.2) 0px 0.5rem 1.5rem;
}
// dark
:root[data-theme="dark"] {
  --html-background: #161616;
  --signup-main-background: #161616;
  --signup-sub-background: #242424;
  --signup-main-text: #f0f0f0;
  --signup-sub-text: #e4e4e4;
  --signup-main-border: #363636;
  --signup-sub-border: #e4e4e4;
  --signup-sub-border: #646464;
  // 
  --swh-background: #64c24c;
  --box-shadow: none;
}
