:root[lang="en"] {
  // general
  --continue: "continue";
  --signup: "sign up";
  --signin: "sign in";
  --signout: "sign out";
  --language: "language";
  --phone-color: "phone color";
  --dark-theme: "dark mode";
  --gender: "gender";
  --subtier: "sub tier";
  --activity-level: "activity level";
  --greyscale-palette: "colors";
  --target: "target";
  --current: "current";
  --username: "name";
  --email: "email";
  --password: "password";
  --activity-level-1: "light walking";
  --activity-level-2: "low activity";
  --activity-level-3: "moderate exercise";
  --activity-level-4: "active lifestyle";
  --activity-level-5: "very active";
  --activity-level-6: "extreme athlete";
  --male: "male";
  --female: "female";
  --age: "age";
  --height: "height";
  --weight: "weight";
  --body-fat: "body fat";
  --black: "black";
  --white: "white";
  --green: "green";
  --blue: "blue";
  --purple: "purple";
  --font-size: "font size";
  --very-small: "very small";
  --small: "small";
  --medium: "medium";
  --big: "big";
  --large: "large";
  --calories: "calories";
  --proteins: "proteins";
  --carbs: "carbs";
  --fats: "fats";
  --should-be: "should be";
  --at-least: "at least";
  --maximum: "maximum of";
  --fill-form: "fill form";
  --characters-long: "characters long";
  // 
  --home: "home";
  --meal: "meal";
  --analysis: "analysis";
  --reshape: "reshape";
  --account: "account";
}
