:root[lang="en"] {
  --continue: "continue";
  --language: "language";
  --dark-mode: "dark mode";
  --font-size: "font size";
  --very-small: "very small";
  --small: "small";
  --medium: "medium";
  --big: "big";
  --large: "large";
  --phone-color: "phone color";
  --black: "black";
  --white: "white";
  --green: "green";
  --blue: "blue";
  --purple: "purple";
  --gender: "gender";
  --male: "male";
  --female: "female";
  --none: "none";
  --activity-level: "activity level";
  --activity-level-1: "light walking";
  --activity-level-2: "low activity";
  --activity-level-3: "moderate exercise";
  --activity-level-4: "active lifestyle";
  --activity-level-5: "very active";
  --activity-level-6: "extreme athlete";
  --age: "age";
  --height: "height";
  --weight: "weight";
  --body-fat: "body fat";
  --calories: "calories";
  --proteins: "proteins";
  --carbs: "carbs";
  --fats: "fats";
  --username: "name";
  --email: "email";
  --password: "password";
  --monday: "mo";
  --tuesday: "tu";
  --wednesday: "we";
  --thursday: "th";
  --friday: "fr";
  --saturday: "sa";
  --sunday: "su";
  --short-calories: "c";
  --short-proteins: "p";
  --short-fats: "f";
  --short-carbs: "c";
  --log: "log";
  --add: "add";
  --saved: "saved";
  --save: "save";
  --send: "send";
  --send-to-log: "push to log";
  --product-name: "product name";
  --full-size: "full size";
}
