:root[lang="en"] {
  --continue: "continue";
  --language: "language";
  --dark-mode: "dark mode";
  --font-size: "font size";
  --very-small: "very small";
  --small: "small";
  --medium: "medium";
  --big: "big";
  --large: "large";
  --phone-color: "phone color";
  --black: "black";
  --white: "white";
  --green: "green";
  --blue: "blue";
  --purple: "purple";
  --gender: "gender";
  --male: "male";
  --female: "female";
  --none: "none";
  --activity-level: "activity level";
  --activity-level-1: "light walking";
  --activity-level-2: "low activity";
  --activity-level-3: "moderate exercise";
  --activity-level-4: "active lifestyle";
  --activity-level-5: "very active";
  --activity-level-6: "extreme athlete";
  --age: "age";
  --height: "height";
  --weight: "weight";
  --body-fat: "body fat";
  --calories: "calories";
  --proteins: "protein";
  --carbs: "carbs";
  --fats: "fats";
  --username: "username";
  --email: "email";
  --password: "password";
  --monday: "mo";
  --tuesday: "tu";
  --wednesday: "we";
  --thursday: "th";
  --friday: "fr";
  --saturday: "sa";
  --sunday: "su";
  --short-calories: "kcal";
  --short-proteins: "protein";
  --short-fats: "fat";
  --short-carbs: "carbs";
  --log: "log";
  --add: "add";
  --saved: "saved";
  --save: "save";
  --send: "send";
  --send-to-log: "add to log";
  --product-name: "name";
  --full-size: "recalculate with weight";
  --sign-in-with: "sign in with";
  --sign-up-with: "sign up with";
  --sign-up-failed: "error";
  --sign-in-failed: "error";
  --please-check-form: "please check the form";
  --length: "length";
  --should-be: "should be";
  --longer: "longer";
  --shorter: "shorter";
  --wrong-format: "invalid format";
  --more-than: "more than";
  --less-than: "less than";
  --approximately: "approximately";
  --lbs: "lbs";
  --ft: "ft";
  --recomended-font: "medium size recommended";
  --pc-only: "desktop version only";
  --we-start-you-finish: "we start, you finish. if you want to change something, you can!";
  --last-3-weeks: "3 weeks results";
  --daily-report: "daily report";
  --your-goals: "your goals";
  --goal-succes: "goal success rate";
  --nothing-here: "nothing here yet";
  --g: "g";
  --recal-product-desc: "when enabled, macros will be recalculated based on weight factor";
  --save-product-desc: "save for reuse";
  --log-product-desc: "add to log immediately";
  --settings: "settings";
  --account: "account";
}
