:root[lang="es"] {
  --continue: "continuar";
  --language: "idioma";
  --dark-mode: "modo oscuro";
  --font-size: "tamaño de fuente";
  --very-small: "muy pequeño";
  --small: "pequeño";
  --medium: "mediano";
  --big: "grande";
  --large: "muy grande";
  --phone-color: "color del teléfono";
  --black: "negro";
  --white: "blanco";
  --green: "verde";
  --blue: "azul";
  --purple: "morado";
  --gender: "género";
  --male: "hombre";
  --female: "mujer";
  --none: "ninguno";
  --activity-level: "nivel de actividad";
  --activity-level-1: "caminatas ligeras";
  --activity-level-2: "baja actividad";
  --activity-level-3: "ejercicio moderado";
  --activity-level-4: "estilo de vida activo";
  --activity-level-5: "muy activo";
  --activity-level-6: "deportista extremo";
  --age: "edad";
  --height: "altura";
  --weight: "peso";
  --body-fat: "grasa corporal";
  --calories: "calorías";
  --proteins: "proteínas";
  --carbs: "carbohidratos";
  --fats: "grasas";
  --username: "nombre";
  --email: "correo";
  --password: "contraseña";
  --monday: "lu";
  --tuesday: "ma";
  --wednesday: "mi";
  --thursday: "ju";
  --friday: "vi";
  --saturday: "sá";
  --sunday: "do";
  --short-calories: "kcal";
  --short-proteins: "proteína";
  --short-fats: "grasa";
  --short-carbs: "carbos";
  --log: "registro";
  --add: "añadir";
  --saved: "guardado";
  --save: "guardar";
  --send: "enviar";
  --send-to-log: "añadir al registro";
  --product-name: "nombre";
  --full-size: "recalcular con peso";
  --sign-in-with: "iniciar sesión con";
  --sign-up-with: "registrarse con";
  --sign-up-failed: "error";
  --sign-in-failed: "error";
  --please-check-form: "revise el formulario";
  --length: "longitud";
  --should-be: "debe ser";
  --longer: "más largo";
  --shorter: "más corto";
  --wrong-format: "formato inválido";
  --more-than: "más de";
  --less-than: "menos de";
  --approximately: "aproximadamente";
  --lbs: "lbs";
  --ft: "ft";
  --recomended-font: "tamaño medio recomendado";
  --pc-only: "solo versión de escritorio";
  --we-start-you-finish: "nosotros empezamos, tú terminas. ¡si quieres cambiar algo, puedes hacerlo!";
  --last-3-weeks: "resultados de 3 semanas";
  --daily-report: "informe diario";
  --your-goals: "tus metas";
  --goal-succes: "tasa de éxito";
  --nothing-here: "no hay nada aquí";
  --g: "g";
  --recal-product-desc: "al activarlo, los macros se recalcularán según el factor de peso";
  --save-product-desc: "guardar para reutilizar";
  --log-product-desc: "añadir al registro inmediatamente";
  --settings: "ajustes";
  --account: "cuenta";
}
