:root[lang="es"] {
  // general
  --continue: "continuar";
  --signup: "registrarse";
  --signin: "iniciar sesión";
  --signout: "cerrar sesión";
  --language: "idioma";
  --phone-color: "color del teléfono";
  --dark-theme: "modo oscuro";
  --gender: "género";
  --subtier: "nivel";
  --activity-level: "nivel de actividad";
  --greyscale-palette: "esquema de colores";
  --target: "objetivo";
  --current: "actual";
  --username: "nombre";
  --email: "correo";
  --password: "contraseña";
  --activity-level-1: "actividad mínima";
  --activity-level-2: "caminatas ligeras";
  --activity-level-3: "ejercicio moderado";
  --activity-level-4: "estilo de vida activo";
  --activity-level-5: "muy activo";
  --activity-level-6: "deportista extremo";
  --male: "hombre";
  --female: "mujer";
  --age: "edad";
  --height: "altura";
  --weight: "peso";
  --body-fat: "grasa corporal";
  --black: "negro";
  --white: "blanco";
  --green: "verde";
  --blue: "azul";
  --purple: "púrpura";
  --font-size: "tamaño de fuente";
  --very-small: "muy pequeño";
  --small: "pequeño";
  --medium: "mediano";
  --big: "grande";
  --large: "muy grande";
  --calories: "calorías";
  --proteins: "proteínas";
  --carbs: "carbohidratos";
  --fats: "grasas";
  --should-be: "debe ser";
  --at-least: "al menos";
  --maximum: "máximo de";
  --characters-long: "caracteres"; 
}
