:root[lang="es"] {
  --continue: "continuar";
  --language: "idioma";
  --dark-mode: "modo oscuro";
  --font-size: "tamaño de fuente";
  --very-small: "muy pequeño";
  --small: "pequeño";
  --medium: "mediano";
  --big: "grande";
  --large: "muy grande";
  --phone-color: "color del teléfono";
  --black: "negro";
  --white: "blanco";
  --green: "verde";
  --blue: "azul";
  --purple: "púrpura";
  --gender: "género";
  --male: "hombre";
  --female: "mujer";
  --none: "ninguno";
  --activity-level: "nivel de actividad";
  --activity-level-1: "caminatas ligeras";
  --activity-level-2: "baja actividad";
  --activity-level-3: "ejercicio moderado";
  --activity-level-4: "estilo de vida activo";
  --activity-level-5: "muy activo";
  --activity-level-6: "deportista extremo";
  --age: "edad";
  --height: "altura";
  --weight: "peso";
  --body-fat: "grasa corporal";
  --calories: "calorías";
  --proteins: "proteínas";
  --carbs: "carbohidratos";
  --fats: "grasas";
  --username: "nombre";
  --email: "correo";
  --password: "contraseña";
  --monday: "lu";
  --tuesday: "ma";
  --wednesday: "mi";
  --thursday: "ju";
  --friday: "vi";
  --saturday: "sá";
  --sunday: "do";
  --short-calories: "c";
  --short-proteins: "p";
  --short-fats: "g";
  --short-carbs: "h";
  --log: "diario";
  --add: "añadir";
  --saved: "guardado";
  --save: "guardar";
  --send: "enviar";
  --send-to-log: "enviar al diario";
  --product-name: "nombre del producto";
  --full-size: "porción completa";
}
