@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --main-font: "JetBrains Mono", monospace;
  --english: "english";
  --russian: "русский";
  --mandarin: "中文";
  --espaniol: "español";
}
:root[lang="zh"] {
  --main-font: "unset";
}
