:root[lang="ru"] {
  --continue: "продолжить";
  --language: "язык";
  --dark-mode: "тёмная тема";
  --font-size: "размер шрифта";
  --very-small: "очень маленький";
  --small: "маленький";
  --medium: "средний";
  --big: "большой";
  --large: "очень большой";
  --phone-color: "цвет телефона";
  --black: "чёрный";
  --white: "белый";
  --green: "зелёный";
  --blue: "синий";
  --purple: "фиолетовый";
  --gender: "пол";
  --male: "мужской";
  --female: "женский";
  --none: "не указано";
  --activity-level: "уровень активности";
  --activity-level-1: "лёгкие прогулки";
  --activity-level-2: "низкая активность";
  --activity-level-3: "умеренные тренировки";
  --activity-level-4: "активный образ жизни";
  --activity-level-5: "очень активный";
  --activity-level-6: "экстремальные нагрузки";
  --age: "возраст";
  --height: "рост";
  --weight: "вес";
  --body-fat: "процент жира";
  --calories: "калории";
  --proteins: "белки";
  --carbs: "углеводы";
  --fats: "жиры";
  --username: "имя";
  --email: "электронная почта";
  --password: "пароль";
  --monday: "пн";
  --tuesday: "вт";
  --wednesday: "ср";
  --thursday: "чт";
  --friday: "пт";
  --saturday: "сб";
  --sunday: "вс";
  --short-calories: "ккал";
  --short-proteins: "бел";
  --short-fats: "жир";
  --short-carbs: "угл";
  --log: "журнал";
  --add: "добавить";
  --saved: "сохранено";
  --save: "сохранить";
  --send: "отправить";
  --send-to-log: "в журнал";
  --product-name: "название";
  --full-size: "пересчитать учитывая вес";
  --sign-in-with: "войти через";
  --sign-up-with: "зарегистрироваться через";
  --sign-up-failed: "ошибка";
  --sign-in-failed: "ошибка";
  --please-check-form: "проверьте форму";
  --length: "длина";
  --should-be: "нужно быть";
  --longer: "длиннее";
  --shorter: "короче";
  --wrong-format: "неверный формат";
  --more-than: "больше чем";
  --less-than: "меньше чем";
  --approximately: "примерно";
  --lbs: "фунтов";
  --ft: "футов";
  --recomended-font: "рекомендуется средний размер";
  --pc-only: "только для пк версии";
  --we-start-you-finish: "мы начинаем, вы заканчиваете. если хотите что-то изменить, вы можете это сделать!";

  --last-3-weeks: "результаты за 3 недели";
  --daily-report: "дневной отчет";
  --your-goals: "ваши цели";
  --goal-succes: "успех выполнения целей";
  --nothing-here: "здесь сейчас ничего нет";
  --g: "г";
  --recal-product-desc: "при включении этой фукнции бжу будет перерасчитано с учетом коэффициента веса";
  --save-product-desc: "сохранить для переиспользования";
  --log-product-desc: "сразу добавить в журнал";

  --settings: "параметры";
  --account: "аккаунт";
}
