:root[lang="ru"] {
  // general
  --continue: "продолжить";
  --signup: "регистрация";
  --signin: "вход";
  --signout: "выход";
  --language: "язык";
  --phone-color: "цвет телефона";
  --dark-theme: "темная тема";
  --gender: "пол";
  --subtier: "уровень";
  --activity-level: "уровень активности";
  --greyscale-palette: "цветовая схема";
  --target: "цель";
  --current: "текущий";
  --username: "имя";
  --email: "почта";
  --password: "пароль";
  --activity-level-1: "минимальная активность";
  --activity-level-2: "легкие прогулки";
  --activity-level-3: "умеренные нагрузки";
  --activity-level-4: "активный образ жизни";
  --activity-level-5: "очень активный";
  --activity-level-6: "экстремальный спорт";
  --male: "мужской";
  --female: "женский";
  --age: "возраст";
  --height: "рост";
  --weight: "вес";
  --body-fat: "процент жира";
  --black: "черный";
  --white: "белый";
  --green: "зеленый";
  --blue: "синий";
  --purple: "фиолетовый";
  --font-size: "размер шрифта";
  --very-small: "очень маленький";
  --small: "маленький";
  --medium: "средний";
  --big: "большой";
  --large: "огромный";
  --calories: "калории";
  --proteins: "белки";
  --carbs: "углеводы";
  --fats: "жиры";
  --should-be: "должно быть";
  --at-least: "не менее";
  --maximum: "не более";
  --fill-form: "заполните форму";
  --characters-long: "символов";
}
