:root[lang="ru"] {
  --continue: "продолжить";
  --language: "язык";
  --dark-mode: "темный режим";
  --font-size: "размер шрифта";
  --very-small: "очень маленький";
  --small: "маленький";
  --medium: "средний";
  --big: "большой";
  --large: "очень большой";
  --phone-color: "цвет телефона";
  --black: "черный";
  --white: "белый";
  --green: "зеленый";
  --blue: "синий";
  --purple: "фиолетовый";
  --gender: "пол";
  --male: "мужской";
  --female: "женский";
  --none: "не указан";
  --activity-level: "уровень активности";
  --activity-level-1: "легкие прогулки";
  --activity-level-2: "низкая активность";
  --activity-level-3: "умеренные нагрузки";
  --activity-level-4: "активный образ жизни";
  --activity-level-5: "очень активный";
  --activity-level-6: "экстремальный спорт";
  --age: "возраст";
  --height: "рост";
  --weight: "вес";
  --body-fat: "процент жира";
  --calories: "калории";
  --proteins: "белки";
  --carbs: "углеводы";
  --fats: "жиры";
  --username: "имя";
  --email: "почта";
  --password: "пароль";
  --monday: "пн";
  --tuesday: "вт";
  --wednesday: "ср";
  --thursday: "чт";
  --friday: "пт";
  --saturday: "сб";
  --sunday: "вс";
  --short-calories: "к";
  --short-proteins: "б";
  --short-fats: "ж";
  --short-carbs: "у";
  
  --log: "корзина";
  --create: "создать";
  --saved: "меню";
  --send: "отправить";
}
