:root[lang="zh"] {
  --continue: "继续";
  --language: "语言";
  --dark-mode: "深色模式";
  --font-size: "字体大小";
  --very-small: "非常小";
  --small: "小";
  --medium: "中等";
  --big: "大";
  --large: "特大";
  --phone-color: "手机颜色";
  --black: "黑色";
  --white: "白色";
  --green: "绿色";
  --blue: "蓝色";
  --purple: "紫色";
  --gender: "性别";
  --male: "男";
  --female: "女";
  --none: "未指定";
  --activity-level: "活动水平";
  --activity-level-1: "轻度步行";
  --activity-level-2: "低活动量";
  --activity-level-3: "适度运动";
  --activity-level-4: "积极生活方式";
  --activity-level-5: "非常活跃";
  --activity-level-6: "极限运动";
  --age: "年龄";
  --height: "身高";
  --weight: "体重";
  --body-fat: "体脂率";
  --calories: "卡路里";
  --proteins: "蛋白质";
  --carbs: "碳水化合物";
  --fats: "脂肪";
  --username: "用户名";
  --email: "邮箱";
  --password: "密码";
  --monday: "周一";
  --tuesday: "周二";
  --wednesday: "周三";
  --thursday: "周四";
  --friday: "周五";
  --saturday: "周六";
  --sunday: "周日";
  --short-calories: "千卡";
  --short-proteins: "蛋白";
  --short-fats: "脂肪";
  --short-carbs: "碳水";
  --log: "日志";
  --add: "添加";
  --saved: "已保存";
  --save: "保存";
  --send: "发送";
  --send-to-log: "添加到日志";
  --product-name: "名称";
  --full-size: "按重量重新计算";
  --sign-in-with: "登录方式";
  --sign-up-with: "注册方式";
  --sign-up-failed: "错误";
  --sign-in-failed: "错误";
  --please-check-form: "请检查表单";
  --length: "长度";
  --should-be: "应为";
  --longer: "更长";
  --shorter: "更短";
  --wrong-format: "格式错误";
  --more-than: "大于";
  --less-than: "小于";
  --approximately: "大约";
  --lbs: "磅";
  --ft: "英尺";
  --recomended-font: "建议使用中等尺寸";
  --pc-only: "仅桌面版";
  --we-start-you-finish: "我们开始，您完成。如果您想更改，可以随时调整！";
  --last-3-weeks: "三周结果";
  --daily-report: "每日报告";
  --your-goals: "您的目标";
  --goal-succes: "目标达成率";
  --nothing-here: "暂无内容";
  --g: "克";
  --recal-product-desc: "启用后，将根据重量系数重新计算营养成分";
  --save-product-desc: "保存以备重复使用";
  --log-product-desc: "立即添加到日志";
  --settings: "设置";
  --account: "账户";
}
