:root[lang="zh"] {
  --continue: "继续";
  --language: "语言";
  --dark-mode: "深色模式";
  --font-size: "字体大小";
  --very-small: "非常小";
  --small: "小";
  --medium: "中等";
  --big: "大";
  --large: "特大";
  --phone-color: "手机颜色";
  --black: "黑色";
  --white: "白色";
  --green: "绿色";
  --blue: "蓝色";
  --purple: "紫色";
  --gender: "性别";
  --male: "男性";
  --female: "女性";
  --none: "未指定";
  --activity-level: "活动水平";
  --activity-level-1: "极少活动";
  --activity-level-2: "轻度活动";
  --activity-level-3: "中度运动";
  --activity-level-4: "积极生活方式";
  --activity-level-5: "非常活跃";
  --activity-level-6: "极限运动员";
  --age: "年龄";
  --height: "身高";
  --weight: "体重";
  --body-fat: "体脂率";
  --calories: "卡路里";
  --proteins: "蛋白质";
  --carbs: "碳水化合物";
  --fats: "脂肪";
  --username: "用户名";
  --email: "邮箱";
  --password: "密码";
  --monday: "周一";
  --tuesday: "周二";
  --wednesday: "周三";
  --thursday: "周四";
  --friday: "周五";
  --saturday: "周六";
  --sunday: "周日";
  --short-calories: "卡";
  --short-proteins: "蛋";
  --short-fats: "脂";
  --short-carbs: "碳";
  --log: "日志";
  --add: "添加";
  --saved: "已保存";
  --save: "保存";
  --send: "发送";
  --send-to-log: "添加到日志";
  --product-name: "产品名称";
  --full-size: "整份";
}
