:root[lang="zh"] {
  // general
  --continue: "继续";
  --signup: "注册";
  --signin: "登录";
  --signout: "退出";
  --language: "语言";
  --phone-color: "手机颜色";
  --dark-theme: "深色模式";
  --gender: "性别";
  --subtier: "等级";
  --activity-level: "活动水平";
  --greyscale-palette: "颜色模式";
  --target: "目标";
  --current: "当前";
  --username: "用户名";
  --email: "邮箱";
  --password: "密码";
  --activity-level-1: "极少活动";
  --activity-level-2: "轻度活动";
  --activity-level-3: "中度运动";
  --activity-level-4: "积极生活方式";
  --activity-level-5: "非常活跃";
  --activity-level-6: "极限运动员";
  --male: "男性";
  --female: "女性";
  --age: "年龄";
  --height: "身高";
  --weight: "体重";
  --body-fat: "体脂率";
  --black: "黑色";
  --white: "白色";
  --green: "绿色";
  --blue: "蓝色";
  --purple: "紫色";
  --font-size: "字体大小";
  --very-small: "非常小";
  --small: "小";
  --medium: "中等";
  --big: "大";
  --large: "特大";
  --calories: "卡路里";
  --proteins: "蛋白质";
  --carbs: "碳水化合物";
  --fats: "脂肪";
  --should-be-at-least: "至少应为";
  --should-be-maximum: "最大不应超过";
  --fill-form: "填写表格";
}
